/* add style to look like challenge layout:
top left - high score link
top right - time reverse counter
centered horizontally and vertically, box for questions
first - h1 headline + instructions in p - button to start quiz
questions are left-fustified in h2
answers are in shaded boxes, left-justified under questions
line and result from answer under answers
hover effect on anwers
after quiz is complete, results posted in h3
box for initials and submit button
save data to local machine with score and initials
final slide shows high scores with buttons for go back or clear high scores
*/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 10px;
    padding: 10px;
    align-items: center;
}

main {
    padding: 100px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    font-size: large;
    font-weight: normal;
    line-height: 1.5;
}

.high-score {
    float: left;
    color: violet
}

.timer {
    float: right;
}

.container {
    width: 800px;
    max-width: 80%;
    justify-content: left;
    align-items: center;
}

.instructions, .final-section {
    text-align: center;
}

.answers {
    display: grid;
    grid-template-columns: 1;
    justify-items: left;
    gap: 5px;
}

.final-section {
    display: flex;
    /* grid-template-columns: 1; */
    width: 800px;
    /* gap: 5px; */
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

.high-score-container {
    width: 800px;
    justify-content: left:
}

.controls {
    padding: 10px;
}

.correct, .wrong {
    font-weight: normal;
    font-style: italic;
    margin-top: 10px;
}

.high-score-grid {
    display: grid;
    background-color: violet;
    width: 100%;
    line-height: 1.5;
}

.final-section {
    display: flex;
    /* grid-template-columns: 1; */
    justify-items: center;
    width: auto;
    /* gap: 5px; */
}

.btn {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    width: 60%;
    margin: 5px 0 10px;
    text-align: left;
    padding: 5px;
    font-size: large;
}

.btn:hover {
    background-color: rgba(146, 48, 238, .75);
    border-radius: 5px;
}

.start {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    width: 25%;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    font-size: large;
}

#submit {
    width: auto;
    text-align: center;
}

.hide {
    display: none;
}

